<div class="jumbotron text-center">
    <div class="container">
        <h2>{{title}}</h2>
        <br>
        <a href="http://alm.sncf.fr/sources/benjamin.heintz/com.sncf.angular2-bootstrap" target="_blank" class="btn btn-sm btn-primary">Sources</a>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Angular</b></div>
            <div class="panel-body">
                <a href="https://angular.io/" target="_blank">
                    <img src="assets/images/angular.svg" class="home-image" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Documentation</b></div>
            <div class="panel-body">
                <a href="https://compodoc.github.io/compodoc/" target="_blank">
                    <img src="assets/images/compodoc.png" class="home-image" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>CLI</b></div>
            <div class="panel-body">
                <a href="https://cli.angular.io/" target="_blank">
                    <img src="assets/images/cli.svg" class="home-image" alt="">
                </a>
            </div>
        </div>
    </div>
</div>